<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
    <title>Budget App</title>

</head>

<body>
    <div class="container">
        <h1>Budgtr</h1>
        <% let bankAccount=0; for (i=0; i < allBudget.length; i++) {bankAccount+=parseInt(allBudget[i].amount)}%>
            <%if (bankAccount < 0)%> <style>body {background-color: red;}</style>
            <%if (bankAccount > 1000)%> <style>body {background-color: green;}</style>
                
                <h4><%= bankAccount; %></h4>
        <table>
            <% for (i = 0; i < allBudget.length; i++) { %>
            <tr>
                <td "/budgets/<%=i%>"><%=allBudget[i].date %></td>
                <td><a href= "/budgets/<%=i%>"><%=allBudget[i].name %></a> </td>
                <td "/budgets/<%=i%>"><%=allBudget[i].amount %></td>
            </tr>
        <% } %>
        </table>
        <a class="button" href="/budgets/new">Create New Item</a>
        
    </div>
</body>

</html>