<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
    <title>Budgtr</title>
</head>

<body>
    <div class="container">
        </div>
    <h1> <%= budgets.name; %></h1>      
<a class="button" href="/budgets">Back</a>
<p>Date: <%= budgets.date; %></p>
<p>Name: <%= budgets.name; %></p>
<p>Amount: <%= budgets.amount; %></p>
<p>From: <%= budgets.from; %></p>

</body>

</html>